
@{
    ViewBag.Title = "ExistingRez";
}

<h2>We've Reserved @Model.RemoteLabComputer.ComputerName.ToUpper() For You!</h2>
<p>&nbsp;</p>
<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> <strong>Remember: If you get disconnected come back to this page to re-connect.</strong></div>

<form method="post" role="form" id="rezform" action="@Url.Action("ClearRez")">
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-body">
            <a id="rdpfile" href="@Url.Action("RdpFile")" class="btn btn-lg btn-success" title="Connect To Remote Lab">Connect To Remote Lab</a>
            <button id="clear" type="submit" class="btn btn-lg  btn-danger" title="Clear My Reservation" value="Clear My Reservation">Clear My Reservation</button>
            <input type="hidden" name="ComputerReservation" value="@Model.RemoteLabComputer.ComputerName" />
            <input type="hidden" name="ReservationStatus" value="@Model.ReservationStatus" />
        </div>
    </div>
</form>


@section Scripts {

    @if (ViewBag.ClearedOnce) 
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var options = { trigger: "hover", content: "There is a limit to the number of times you can clear your reservation. To clear the current reservation, please log out and log back in again." };
            var cbtn = $("#clear");
            cbtn.attr("title", "Clear My Reservation - Limit Reached");
            cbtn.popover(options);

            $("#clear").click(function () {
                return false;
            });
        });
    </script>
    }  
    else 
    {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#clear").click(function () {
                var rdpbtn = $("#rdpfile");
                var cbtn = $("#clear");
                rdpbtn.hide();
                var msg = " Clearing Your Reservation ";
                var cog = "<i class=\"fa fa-cog fa-spin\"></i>";
                cbtn.attr("title", msg);
                cbtn.attr("value", msg);
                cbtn.attr("class", "btn btn-lg btn-default");
                cbtn.attr("disabled", "disabled");
                cbtn.html(cog + msg + cog);
                $("#rezform").submit();
            });
        });
    </script>
    }

}

