@model IEnumerable<RemoteLab.Models.Computer>

@{
    ViewBag.Title = "Details";
}

<h2><i class="fa fa-dashboard"></i> Dashboard For Pool: @ViewBag.CurrentPool</h2>
<div>
    <a href="javascript:location.reload();" class="btn btn-link"><i class="fa fa-refresh"></i> Refresh Page</a> 
    <a href="@Url.Action("Index")" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Go Back To Pools</a>
</div>

<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComputerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reserved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logon)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span><a href="@Url.Action("Events","Pools", new { ComputerName = item.ComputerName, id = item.Pool.PoolName})">@item.ComputerName</a></span>
            </td>
            <td>
                <span><a href="@Url.Action("Events","Pools", new { UserName = item.UserName, id = item.Pool.PoolName})">@item.UserName</a></span>
            </td>
            <td>
                <span>@item.Reserved</span>
            </td>
            <td>
                <span>@item.Logon</span>
            </td>
        </tr>
    }

</table>
