@model IEnumerable<RemoteLab.Models.Event>

@{
    ViewBag.Title = "Events";
}

<h2><i class="fa fa-dashboard"></i> Last @RemoteLab.Properties.Settings.Default.DashboardMaxEvents Events For: @ViewBag.CurrentPool</h2>
<div>
    <a href="javascript:location.reload();" class="btn btn-link"><i class="fa fa-refresh"></i> Refresh Page</a>
    <a href="@Url.Action("Dashboard", "Pools", new { id = ViewBag.CurrentPool} )" class="btn btn-link"><i class="fa fa-dashboard"></i> Dashboard</a>
    <a href="@Url.Action("Index")" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Go Back To Pools</a>
</div>

<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DtStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComputerName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <span>@Html.DisplayFor(modelItem => item.DtStamp)</span>
        </td>
        <td>
            <span>@Html.DisplayFor(modelItem => item.EventName)</span>
        </td>
        <td>
            <span class="@(Request.QueryString["UserName"] != null ? "label label-default" : "")">@Html.DisplayFor(modelItem => item.UserName)</span>
        </td>
        <td>
            <span class="@(Request.QueryString["ComputerName"] != null ? "label label-default" : "")">@Html.DisplayFor(modelItem => item.ComputerName)</span>
        </td>
    </tr>
}

</table>
