@using RemoteLab.Utilities;
@using System.Security.Claims;
@using RemoteLab.Models;

@model IEnumerable<Pool>
@{
    ViewBag.Title = "Remote Lab - My Roles";
    var ClaimsUser = (ClaimsPrincipal)ViewBag.User;
}

<h2><i class="fa fa-user"></i> User Information For: @ClaimsUser.Identity.Name</h2>
<hr />
<div>
    @if (ClaimsUser.IsAdministrator())
    {
        <h4>Application Administrator Rights:</h4>
        <table class="table table-condensed table-striped table-bordered">
            <tr>
                <th>Role</th>
                <th>Because You're a Member Of</th>
            </tr>
            <tr>
                <td>@ClaimsUtility.APPLICATION_ADMINISTRATOR</td>
                <td><i class="fa fa-group"></i> @RemoteLab.Properties.Settings.Default.AdministratorADGroup</td>
            </tr>
        </table>
    }
    @if (ClaimsUser.IsAdministratorOfAnyPool())
    {
        <h4>Pools You Can Administer:</h4>
        <table class="table table-condensed table-striped table-bordered">
            <tr>
                <th>Pool Name</th>
                <th>Because You're a Member Of</th>
            </tr>
            @foreach( Pool p in Model)
            {
                if(ClaimsUser.IsAdministratorOfPool(p)) {                    
            <tr>
                <td>@p.PoolName</td>
                <td><i class="fa fa-group"></i> @p.ActiveDirectoryAdminGroup</td>
            </tr>
                }
            }
        </table>
    }

    @if (ClaimsUser.IsUserOfAnyPool())
    {
        <h4>Pools You Can Use:</h4>
        <table class="table table-condensed table-striped table-bordered">
            <tr>
                <th>Pool Name</th>
                <th>Because You're a Member Of</th>
            </tr>
            @foreach (Pool p in Model)
            {
                if (ClaimsUser.IsUserOfPool(p))
                {
                    <tr>
                        <td>@p.PoolName</td>
                        <td><i class="fa fa-group"></i> @p.ActiveDirectoryUserGroup</td>
                    </tr>
                }
            }
        </table>
    }
    
    <h4>Complete List Of Claims</h4>
    <table class="table table-condensed table-striped table-bordered">
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
        @foreach (var c in ClaimsUser.Claims)
        {
            <tr>
                <td>@c.Type</td>
                <td>@c.Value</td>
            </tr>
        }
    </table>
</div>
