@model RemoteLab.Models.Pool

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dashboard for @Model.PoolName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActiveDirectoryUserGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveDirectoryUserGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveDirectoryAdminGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveDirectoryAdminGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailNotifyList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailNotifyList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RdpTcpPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RdpTcpPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CleanupInMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CleanupInMinutes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PoolName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
