@model IEnumerable<RemoteLab.Models.PoolSummary>

@{
    ViewBag.Title = "Remote Lab - Choose Pool";
}

<h2>Choose Pool</h2>

<form method="post" action="@Url.Action("ChoosePool")" role="form" id="poolform">
    @Html.AntiForgeryToken()
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolInUse)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="font-size:1.5em;">
                <td>
                    @if (item.PoolAvailable>0)
                    { 
                        <button type="submit" name="PoolName" value="@item.PoolName" class="btn btn-default">@item.PoolName</button>
                    }
                    else
                    {
                        @item.PoolName   
                    }
                </td>
                <td>
                    <span class="label label-primary">@item.PoolCount</span>
                </td>
                <td>
                    <span class="label label-success">@item.PoolAvailable</span>
                </td>
                <td>
                    <span class="label label-danger">@item.PoolInUse</span>
                </td>
            </tr>
        }

    </table>
</form>