@using RemoteLab.Utilities;
@using System.Security.Claims;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Remote Lab</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home", null)" class="navbar-brand"><i class="glyphicon glyphicon-new-window"></i> @String.Format("{0} {1}",HttpContext.Current.Application["NAME"],HttpContext.Current.Application["VERSION"]) </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if(HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        var ClaimsUser = (ClaimsPrincipal)HttpContext.Current.User;
                        
                    @:<li><a href="@Url.Action("Index","Home")"><i class="fa fa-desktop"></i> Connect</a></li>
                    if(ClaimsUser.IsAdministratorOfAnyPool() || ClaimsUser.IsAdministrator())
                    {
                    <li class="dropdown">                        
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears"></i>  Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","Pools")"><i class="fa fa-dashboard"></i> Pools</a></li>
                            @if (ClaimsUser.IsAdministrator()) {
                            <li><a href="~/elmah.axd"><i class="fa fa-file-text-o"></i> Error Logs</a></li>
                            }
                        </ul>
                    </li>
                    }
                    }
                    <li><a href="@Url.Action("About","Home")"><i class="fa fa-info-circle"></i> About</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        <h1>
            @if (HttpContext.Current.Request.IsAuthenticated && ViewBag.CurrentPool != null) {
            @*<i class="glyphicon glyphicon-new-window"></i>*@<button type="button" class="btn btn-lg btn-default" disabled="disabled">@String.Format("Pool: {0}",ViewBag.CurrentPool)</button>
            <button type="button" class="btn btn-lg  btn-primary" disabled="disabled">Total Seats: @ViewBag.Total</button>
            <button type="button" class="btn btn-lg btn-success" disabled="disabled">Available:@ViewBag.Available</button>
            <button type="button" class="btn btn-lg btn-danger" disabled="disabled">In Use: @ViewBag.InUse</button>
            }
            else
            { 
             @*<i class="glyphicon glyphicon-new-window"></i> @:Remote Lab*@
            }
        </h1>
        <div class="row">
            <div class="col-sm-8">
                <div class="container">
                    <div class="col-sm-8">
                        <div id="browser" class="alert alert-danger" style="display:none;"></div>
                    </div>
                    <div id="remoteLabBody" class="col-sm-8">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Need Help?</h3>
                    </div>
                    <div class="panel-body">
                        <h4><i class="glyphicon glyphicon-book"></i> Documentation</h4>
                        <ul>
                            <li><a id="youtube" href="@RemoteLab.Properties.Settings.Default.RemoteLabIntroVideoLink" class="various fancybox.iframe"><i class="glyphicon glyphicon-facetime-video"></i> What is Remote Lab?</a></li>
                            <li><a target="_RemoteLabDocs" href="@RemoteLab.Properties.Settings.Default.OfficialDocumentationLink"><i class="fa fa-file-text"></i> Official Documentation</a></li>
                        </ul>
                        <h4><i class="glyphicon glyphicon-download-alt"></i> Download - Remote Desktop Client</h4>
                        <ul>
                            <li><a target="_RemoteLabDownload" href="@RemoteLab.Properties.Settings.Default.WindowsClientDownload"><i class="fa fa-windows"></i> Windows </a></li>
                            <li><a target="_RemoteLabDownload" href="@RemoteLab.Properties.Settings.Default.MacClientDownload"><i class="fa fa-apple"></i> Mac OSX</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/browserdetect")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            var text = "";
            if (BrowserDetect.OS == 'Mac' && BrowserDetect.browser != 'Firefox') {
                text += "<b><i class='glyphicon glyphicon-warning-sign'></i> IMPORTANT </b> We noticed you're using " + BrowserDetect.browser + " version " + BrowserDetect.version + " on " + BrowserDetect.OS + ".";
                text += " This is not compatible with Remotelab. Please <a href='http://getfirefox.com' target='_newfirefox'>download Firefox</a> instead.";
                $("#browser").html(text);
                $("#browser").show();
                $("#remoteLabBody").hide();
            }
            $("a#youtube").fancybox();
        });
    </script>
</body>
</html>
